body{
background-color: rgb(46, 43, 43);
}
.container{
    display:flex;
    flex-direction: column;
}
.fix{
    display:flex;
    justify-content: space-around;
    padding: 20px;
    flex: 1 1 auto;
}
.custom{
    display: flex;
    gap:5px;
    flex: 1 1 auto;
    max-width: 300px;
}
.control{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.display{
    text-align: center;
    padding:15px;
    margin:10px;
    font-size: 45px;
    font-weight: bold;
    border:2px solid black;
    background-color:rgb(61, 191, 130);
    flex:1 1 auto;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    margin: 5px;
    min-height: 200px;
}
.row{
    display:flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    max-width:100%;
    min-height:20px;
}
.buttons button{
    padding:10px;
    margin:40px;
    width: 200px;
    height:80px;
}
button{
    font-size: 26px;
    text-align: center;
    max-width: 300px;
    max-height: 100px;
    min-height: 20px;
    flex:1 1 auto;
}
.num{
    background-color: gray;
}
.op{
    background-color:rgba(255, 166, 0, 0.75);
}
.inc{
    background-color: crimson;
}
.dec{
    background-color: rgb(150, 200, 200);
}

